* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

@keyframes myAnimation {
  0%   {background-color: rgb(57, 115, 115); }
  25%  {background-color: rgb(99, 88, 65); }
  50%  {background-color: rgb(64, 128, 74); }
  75%  {background-color: rgb(207, 150, 86); }
  100% {background-color: rgb(0, 64, 90); }
}

#education {
  text-align: center;
  display: inline-block;
  width: 100%; 
}

.oneWork {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.work-description  { 
  border: solid 1px lightgray;
  font-size: 16px;
  color: #333333;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 20px;
}

.education-entry > a {
 text-align: center;
}

div > h2, h3 {
  font-weight: bold;
  font-size: 20px;
  color: black;
  line-height: 29px;
  display: inherit;
  text-align: center;
}

header > div > h2, h6 {
  color: white;
  color: #484848;
  margin: 0 0 2% 0;
  text-align: center;
}

h3 {
  /*font-style: italic;*/
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

.date-text, .workLocation-text {
  font-style: italic;
  color: #999999;
  text-align: center;
}

.workLocation-text {
  margin-top: -50px;
}

.schoolLocation-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  text-align: center;
}

a > img {
  width: 200px;
  height: 200px;
}

.mock-project {
  width: 220px;
  height: 220px;
  margin-left: 60px;
  position: relative;
  display: inline-block;
}

#center-text {
  background-color: skyblue;
  border-radius: 10px;
  margin: 10px 0 0 0;
  text-align: justify;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left-text;  
}

.flex-item > li { 
  width: 20%;
  display: inline-block;
}

ul {
  list-style-type: none;
}

.nav > li { 
  padding: 0 0 0 15%;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  text-align: center;
  padding: 5px;
}

.dark-gray {
  background-color: #4A4A4A;
}

#map {
  display: block;
  height: 100%;
  width: 100%;
  border: solid 1px blue;
}

#mapDiv {
  height: 400px;
  width: 100%;
  border: solid 1px yellow;
}

#letsConnect {
  text-align: center;
}
