* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

@keyframes myAnimation {
  0%   {background-color: rgb(57, 115, 115); }
  25%  {background-color: rgb(99, 88, 65); }
  50%  {background-color: rgb(64, 128, 74); }
  75%  {background-color: rgb(207, 150, 86); }
  100% {background-color: rgb(0, 64, 90); }

}

.clearfix {
  overflow: auto;
}


.education-entry, .work-entry, .project-entry {
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  width: 100%;

}

.education-entry {
  text-align: center;

}

.education-entry:first-child {
  border-right:  1px solid grey;
}

.work-entry, .education-entry > a {
 text-align: center;
}


header {
  background-color: rgb(0, 123, 128);
  position: fixed;
  width: 63.2%;
}

h1 {
  font-size: 30px;
  color: white;
  line-height: 48px;
  display: inline;

}

span {
  text-align: center;
}

div > h1 {
  font-weight: bold;
  font-size: 30px;
  color: black;
  display: inherit;
  text-align: center;

}

div > h2 {
  font-weight: bold;
  font-size: 20px;
  color: black;
  line-height: 29px;
  display: inherit;
  text-align: center;
}

header > h2 {
  font-size: 30px;
  color: white;
  line-height: 18px;
  float: right;
}


h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 60px;
  padding-right: 60px;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  text-align: center;
}

a > img {
  width: 200px;
  height: 200px;
}

.mock-project {
  width: 220px;
  height: 220px;
  margin-left: 60px;
  position: relative;
  display: inline-block;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  text-align: center;

}

p {
  font-size: 16px;
  color: #333333;
  line-height: 25px;
  text-align: justify;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;

}

#skillsH3 {
  color: #F5AE23;
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;

}

.white-text {
  font-weight: bold;
  color: #FFFFFF;

}

.gray {
  display: flex;
  background-color: #F3F3F3;
  padding: 5px;
  margin: 5px;

}


.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

}

#menu-nav_menu {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #222;
  opacity: 0.7;
  color: white;
}

#center-text {
  background-color: skyblue;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

.center-content {
  padding: 100px 120px 0 120px;
  animation-name: myAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 60px;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 120px;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 60px;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
